@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .marquee {
    display: flex;
    overflow: hidden;
    animation: marquee 10s linear infinite;
  }
  
  .marquee-item {
    flex-shrink: 0;
    margin-right: 1rem;
  }
  

body{
  width: 100vw;
  overflow-x: hidden;
}